.about {
  display: inline-block;
  height: 100vh;
  width: 100%;
  text-align: center;

 }

.about__painel {
  width: 100%;
  height: 15%;
}
 .about__background--image {
  width: 80%;
  height: 60%;
  background-color: #000;
  border-radius: 10px;
  margin: 10%;
 }

 .about__image {
  position: absolute;
  transform: translate(-50%, 20%);
}

 .about__title {
  margin: 5px;
  display: block;
  font-size: 2rem;
 }

 .about__subtitle {
  text-align: start;
 }
.about__skills--table {
  margin: 10%;
}
 
.about__skills--list--container {
  display: flex;
  flex-direction: row;
  list-style: none;
  max-height: 10%;
  overflow-x: scroll;
}

.about__skills--list {
  max-width: 100%;
  max-height: 100%;
}
.abouts__list--item {
  max-width: 60px;
  max-height: 60px;
}
a:link {
  color: #fff;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
} 