.projects { 
    display: inline-block;
    width: 100%;
}

.projects__slide {
    display: flex;
    flex-direction: row;
}

.projects__slide--container {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.projects__slide-item {
    margin-top: 10px;
    margin-right: 10px;
}

.projects__descriptions {
    text-align: center;
    margin: 20px;
}

.projects__icons {
    display: flex;
    flex-direction: row;
    
}
.projects__slide--container {
    margin: 10px;
    text-align: end;
}
.projects__slide--list--item {
    border-style: solid ; 
    border-width: 0.5px;
    border-radius: 10px;
}
.heart {
    width: 15px;
    height: 15px;
    transform: translate(0%,  -150%);
}

.projects__icons {
    display: flex;
    list-style: none;
}


.projects__icons-list {
    align-items: center;
}
.projects__icons--img {
    width: 40px;
    height: 40px;
}